<div class="col-md-6 col-lg-4 movie-tile text-center" data-trailer-youtube-id="{trailer_youtube_id}" data-toggle="modal" data-target="#trailer">
    <div class="outer">
      <img class="poster" src="{poster_image_url}" width="220" height="342">
      <div class="inner"><p class="animate">{overview}</p></div>
    </div>
    <div class="ellipsis ellipsis-title" data-toggle="tooltip" data-placement="top" title="{movie_title}">
      <h2>{movie_title}</h2>
    </div>
    <div class="ellipsis ellipsis-tagline">
      <h4><small>{tagline}</small></h4>
    </div>
    <h5>{genre_1} <strong>/</strong> {release_date}</h5>
    <h4>{runtime} mins</h4>
    <input class="rb-rating" value="{rating}">
</div>